<!DOCTYPE html>
<html>
  <head>
    <title>ajax_favorite_comment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/4254070997.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>

    <div class="container">
      <p id="notice"><%= notice %></p>
      <p id="flash"><%= alert %></p>
      <%= yield %>
    </div>
    
    <%= render 'layouts/footer' %>
  </body>
</html>
